:root {
    --rubikFont: 'Rubik', sans-serif;
    --barColor: #1E1E1E;
    --orange: #EF6351;
    --black: #000000;
    --semiBlack: #2B2B2B;
    --semiOrange: #EF635133;

    --SemiGray: #7C7F82;
    --Gray: #8C8C8C;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--semiBlack);
    border-radius: 7px;
}

.circle-box {
    background-color: var(--semiBlack);
    border-radius: 50%;
    padding: 20px;
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
}

.circle-text {
    color: var(--orange);
    font-weight: bold;
}

.team-content{
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 100vh;
}